button {
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 1.5rem 4rem; /* Maintain padding */
  background: #000000;
  border-radius: 99px;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  font-weight: 900;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  transition: background 0.7s ease, filter 0.5s ease, box-shadow 0.5s ease, transform 0.3s ease; /* Added transform transition */
}

button:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  filter: brightness(1.25);
  background: linear-gradient(90deg, blue, red);
  transform: scale(1.05); /* Slight lift effect */
}

button:disabled {
  color: #e5e5e5;
  cursor: not-allowed;
}
